
.events{
    /* text-align: center; */
    padding-block: 36px;
    margin-bottom: 36px;
}

.events h2{
    margin-bottom: 18px;
    text-align: center;
}

.events-tabs-wrapper{
    /* height: 26px; */
     /* width: 218px; */
     display: flex;
     justify-content: center;
     margin-bottom: 18px;
}

.events-tabs{
    display: flex;
    gap:36px
}


.events-tabs button{
    font-size: 16px;
    background: none;
    border: none;
}

.events-card-wrapper{
    margin-inline:4px ;
    padding-inline: 20px;
    position: relative;
}

.events-card-wrapper > button{
    background-color: #B2D235;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_arrow{
    left: 0;
}

.right_arrow{
    right: 0;
}

.events-card-wrapper > button > img{
    width: 16px;
    height: 16px;
}

.events-card{
    /* height: 306px; */
    position: relative;

}

.events-card > img{
    display: block;
    width: 100%;
    height: 229px;
    border-radius: 7px;
}

.events-card-date{
    position: absolute;
    width: 63px;
    height: 57px;
    left: 209px;
    top: 0;
    background-color: #B2D235;
    border-radius: 3px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
}

.events-card-content{
    padding: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.content-title{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 5px;
}

.content-time_place{
    color:#777;
    font-size:15px;
}

.content-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-icons{
    display: flex;
    gap: 15px;
    font-size: 20px;
    color: #B2D235;
}

.add_btn{
    width: 24px;
    height: 24px;
    border: 1px solid #B2D235;
    border-radius: 12px;
    color: #B2D235;
}

.share_btn{
    width: 24px;
    height: 24px;
    border: none;
}

.content-attendees{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}
.content-attendees > img{
    width: 18px;
    height: 11px;
}