.featured_listing{
    /* height: 376px; */
    width: 328px;
    margin-inline: 16px;
    margin-bottom: 36px;
}

.featured_listing h2{
    text-align: center;
    margin-bottom: 2rem;
}


.apt_card .image_container{
    position: relative;
}

.apt_card .label{
    width: 54px;
    height: 19px;
    position: absolute;
    top: 14px;
    left: 14px;
    background-color: #FE5D26;
    border-radius: 4px;
    font-size: 10px;
    color: white;
    padding: 30x 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apt_card .main_image{
    width: 100%;
    /* height: 100%; */
}

.apt_card .profile_pic{
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 16px;
    background-image: url("../assets/featured_listing/man.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.apt_card-content{
    padding-inline: 20px;
}

.apt_card .wrapper{
    display: flex;
    margin-block:5px;
    justify-content: space-between;
}

.apt_card .wrapper .apt-title {
    font-size: 20px;
}

.apt_card .wrapper p{
    font-size: 14px;
}

.apt_card .wrapper .apt-distance{
    height: 10px;
    font-size: 10px;
    padding-top: 5px;
}

.apt-distance img{
    height: 100%;
}

.apt_card-content .icons_container{
    display: inline-flex; /* take the size of the content*/
    gap:3px;
    color:rgba(34, 34, 34, 0.5);
    font-size: 12px;

    margin-bottom: 10px;

    
    
}

.apt_card-content .price_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block:10px ;
    border-top: 1px solid #D8D8D8;
}


.image_switchers-center{
    display: flex;
    justify-content: center;
}

.image_switchers-container{
    display: flex;
    gap: 10px;
}

.image_switcher{
    width: 11px;
    height: 11px;
    background-color: #D8D8D8;
    border: none;
    border-radius: 5px;
}

.image_switcher:first-of-type{
    border: 2px solid #B2D235;
}




