footer .container {
    margin-top:  2.313rem;
    margin-left: 0.938rem;
}


.social-links {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.social-links a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

footer .logo {
    display: block;
    width: 120px;
    height: 60px;
    margin-bottom: 1.75rem;
}

footer .contact-info p {
    display: flex;
    align-items: center;
    margin-block: 0.875rem;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
}

.contact-info img {
    color: var(--main-color);
    margin-right: 10px;
    width: 18px;
}


.links-section {
    margin-top: 30px;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.links-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-section li {
    margin-bottom: 8px;
}

.links-section a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 14px;
}

.links-section a:hover {
    color: var(--main-color);
}

.newsletter-section {
    margin-top: 30px;
}

.footer-heading{
    font-size: 18px;
}

.subscribe-cta {
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: space-between;
}

.subscribe-cta p {
    margin-left: 15px;
    font-size: 12px;
}

.subscribe-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 11px 28px;
    border-radius: 28px;
    font-size: 12px;
}

.copyright-bar {
    background-color: var(--black-color);
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 12px;
}

