

.listing-card{
margin-block: 2.25rem;
}

.listing-card h2 {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    margin-top: 2.25rem ;
    margin-bottom: 1.125rem;
}

.listing-card .container {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.listing-card .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.listing-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.6;
}

.listing-card .info {
    position: absolute;
    bottom: 3.75rem;
    left: 2.2rem;
    color: #fff;
}

.listing-card .city-name {
    font-size: 2rem;
    font-weight: 700;
}

.listing-card  .listing-count {
    margin-top: 0.563rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.listing-count span {
    color: var(--main-color);
}

.dots {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.dot {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background: white;
    opacity: 0.6;
}

.dot.active {
    width: 0.375rem;
    height:0.375rem;
    border: 2px solid var(--main-color);
    background: transparent;
    opacity: 1;
}