h1{
    display: flex;
    justify-content: center;
}

h1 .content{
    margin-inline:22px;
    width: 316px;
    /* height: 68px; */
    font-weight: 600;
    font-size: 1.75rem;
    margin-top: 2.25rem;
    letter-spacing: 0px;
    color: #222222;
    margin-bottom: 1.563rem;
}



.housedrawing-img{
    display: block;
    width: 100%;
    height: 218px;
    margin-bottom: 2.25rem;
}



